<header class="header">
    <div class="heroImage">
        <div class="heroContents">
             <h1 id="title" style="text-align:center">Wonderful Events</h1>  
        </div>       
    </div> 


     <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Drinks</a></li>
        <li><a href="#">Songs</a></li>
        <li><a href="#">Guests</a></li>
    </ul>        
</header>
